/*
Error: File to import not found or unreadable: blueprint/reset.
       Load paths:
         Compass::SpriteImporter
         E:/GitHub/prancecloud-org/PranceCloudSite/public/stylesheets/sass
         E:/GitHub/prancecloud-org/PranceCloudSite/app/stylesheets
         I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets
        on line 2 of E:/GitHub/prancecloud-org/PranceCloudSite/app/stylesheets/application.scss

1: // This import applies a global reset to any page that imports this stylesheet.
2: @import "blueprint/reset";
3: 
4: // To configure blueprint, edit the partials/base.sass file.
5: @import "partials/base";
6: 
7: // Import all the default blueprint modules so that we can access their mixins.

Backtrace:
E:/GitHub/prancecloud-org/PranceCloudSite/app/stylesheets/application.scss:2
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/import_node.rb:66:in `rescue in import'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/import_node.rb:45:in `import'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/import_node.rb:28:in `imported_file'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/import_node.rb:37:in `css_import?'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin.rb:82:in `update_stylesheets'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin.rb:54:in `check_for_updates'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sass-3.4.13/lib/sass/plugin/rack.rb:51:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/rack-protection-1.5.3/lib/rack/protection/xss_header.rb:18:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/rack-protection-1.5.3/lib/rack/protection/json_csrf.rb:18:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/rack-protection-1.5.3/lib/rack/protection/frame_options.rb:31:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/rack-1.5.2/lib/rack/methodoverride.rb:21:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/padrino-core-0.12.5/lib/padrino-core/reloader/rack.rb:22:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/padrino-core-0.12.5/lib/padrino-core/logger.rb:420:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sinatra-1.4.5/lib/sinatra/show_exceptions.rb:21:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:225:in `context'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:220:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sinatra-1.4.5/lib/sinatra/base.rb:2014:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sinatra-1.4.5/lib/sinatra/base.rb:1478:in `block in call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sinatra-1.4.5/lib/sinatra/base.rb:1788:in `synchronize'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/sinatra-1.4.5/lib/sinatra/base.rb:1478:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/padrino-core-0.12.5/lib/padrino-core/router.rb:84:in `block in call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/padrino-core-0.12.5/lib/padrino-core/router.rb:75:in `each'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/padrino-core-0.12.5/lib/padrino-core/router.rb:75:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/thin-1.5.1/lib/thin/connection.rb:81:in `block in pre_process'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/thin-1.5.1/lib/thin/connection.rb:79:in `catch'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/thin-1.5.1/lib/thin/connection.rb:79:in `pre_process'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/eventmachine-1.0.0/lib/eventmachine.rb:1037:in `call'
I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/eventmachine-1.0.0/lib/eventmachine.rb:1037:in `block in spawn_threadpool'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: blueprint/reset.\A        Load paths:\A          Compass::SpriteImporter\A          E:/GitHub/prancecloud-org/PranceCloudSite/public/stylesheets/sass\A          E:/GitHub/prancecloud-org/PranceCloudSite/app/stylesheets\A          I:/Bitnami/rubystack-2.0.0-15/ruby/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets\A         on line 2 of E:/GitHub/prancecloud-org/PranceCloudSite/app/stylesheets/application.scss\A \A 1: // This import applies a global reset to any page that imports this stylesheet.\A 2: @import \"blueprint/reset\";\A 3: \A 4: // To configure blueprint, edit the partials/base.sass file.\A 5: @import \"partials/base\";\A 6: \A 7: // Import all the default blueprint modules so that we can access their mixins."; }
